/* Region styles*/

.b_region_promo {
    width: 100%;
    height: 225px;
    background: #f9dd16;
    margin: 20px 0;
}

.b_region_promo--blue {
    background: #0084c9;
}

.b_region_promo__holder {
    height: 225px;
    line-height: 40pt;
    margin-bottom: 0;
    margin-left: auto;
    margin-right: auto;
    padding-top: 20px;
    width: 90%;
    white-space: nowrap;
    position: relative;
}

.b_region_promo__caption {
    font-size: 40pt;
    font-family: PTSans;
    font-weight: 800;
    color: inherit;
    display: inline-block;
    vertical-align: bottom;
}

.b_text-color-w {
    color: #ffffff;
}

.b_region_promo__caption span:after {
    content:"\a";
    white-space: pre;
}

.b_region_promo__links {
    margin-left: 60px;
    display: inline-block;
    vertical-align: top;
}

.b_region_promo__date, .b_region_promo__place {
    bottom: 40px;
    display: inline-block;
    font-family: PTSans;
    font-size: 12pt;
}

.b_region_promo__place {
    margin-left: 300px;
}

.b_region_promo__action {
    line-height: 50px;
    font-family: "PT Sans";
    font-size: 20px;
    text-align: left;
}

.b_region_promo__action > a {
    text-decoration: underline;
    color: #ffffff;
}

.b_region_promo__action > a:hover {
    color: #dadada;
}